.magazynTile
{
    background-color: #f02627;
    margin: 15px 45px;
    height: 155px;
    padding-top: 5px;
    text-align: left;
    border-radius: 15px;
    box-shadow: 5px 5px 2px #858585;
    line-height: 140%;
}

.magazynTile:hover
{
    background-color: #a6191a;
}

.delete
{
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 5px;
    font-size: 50px;
}

.delete:hover
{
    font-size: 70px;
}

.dodajBtn
{
    margin: 20px;
    background-color: #2d1444;
    box-shadow: 5px 5px 2px #bcbcbc;
    color: white;
    border-radius: 180px;
    font-size: 15px;
    padding: 10px;
    float: right;
}

input {
    float: right;

}