.towarTile
{
    background-color: #ffdcd0;
    margin: 15px 45px;
    overflow: auto;
    width: auto;
    padding-top: 5px;
    padding-left: 2%;
    text-align: center;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px;
    line-height: 170%;
    position: relative;
    padding-bottom: 10px;
}

.magazynTile:hover
{
    background-color: #a6191a;
}

.delete:hover
{
    font-size: 110%;
}

.dodajBtn
{
    margin: 20px;
    background-color: #2d1444;
    box-shadow: 5px 5px 2px #bcbcbc;
    color: white;
    border-radius: 180px;
    font-size: 15px;
    padding: 10px;
    float: right;
}

input {
    float: right;

}