.arkuszSpisowyTileWithHover
{
    background-color: #33f812;
    margin: 15px 45px;
    overflow: auto;
    padding-top: 10px;
    text-align: left;
    border-radius: 15px;
    box-shadow: 5px 5px 2px #858585;
    line-height: 150%;
}

.arkuszSpisowyTileWithHover:hover
{
    background-color: #2bcb10;
}

.arkuszSpisowyTile
{
    background-color: #33ff12;
    margin: 15px 35px;
    overflow: auto;
    padding-top: 10px;
    text-align: left;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
    line-height: 150%;
}

.delete
{
    position: absolute;
    bottom: 5px;
    right: 0px;
    padding: 5px;
}

.delete:hover
{
    font-size: 60px;
}

a.tilelink
{
    text-decoration: none;
}

input {
    float: right;

}