html
{
    font-family: 'Lato', sans-serif;
}

body
{
    background-color: rgba(118, 116, 130, 0.98);
    font-size: 20px;
    color: black; /*kolor tekstu*/
}

#container
{
    background-color: #595865;
    margin-left: 50px;
    margin-right: 50px;
}

#header {
    background-color: #870010;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

.rightPanel
{
    float:right;
    width: 70%;
    background-color: #fffc26;

}

#zegar
{
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: right;
    padding: 20px;
}

.tytul {
    display:inline-block;
    width: 33%;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
}

.dane {
    display:inline-block;
    width: 33%;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.wyloguj {
    display:inline-block;
    width: 33%;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: right;
}

.tile
{
    background-color: aqua;
    margin: 15px 35px;
    height: 150px;
    text-align: center;

}

.tile:hover
{
    background-color: #00a0a0;
}


#footer
{
    background-color: #6c0010;
    text-align: center;
    margin-bottom: 50px;
}

a.tilelink
{
    color: black;
    text-decoration: none;
}

p {
    text-indent: 30px;
    padding-left: 8px;
}

p::first-letter {
    color: #404040;
    font-size:130%;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 60px;
    padding-top: 10px;
    font-size:150%;
}
